.form_field_name{
	color:black;
	font-style:italic;
	font-weight:700;
	font-size:20px;
}

input[type=text] {
  padding: 10px 20px;
  margin: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.button {
background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}